

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.navbar{
    display: flex;
    justify-content: space-between;
    background-color: white;
    padding: 10px;
    box-shadow: 5px 5px 5px 2px rgba(0, 0.1, 0.1, 0.1); 

}
.navbar ul{
    display: flex;
    margin: 0;
    padding: 0;
}

.input-two{
    padding: 10px 10px;
    border-radius: 6px;
    border-radius: 6px;
    font-size: 15px;
    margin-left: 10px;
    border: 1px solid grey;


}
 .input-one{
    padding: 10px 10px;
    border-radius: 6px;
    border-radius: 6px;
    font-size: 15px;
border: 1px solid grey;
 }
.btn{
    padding: 10px 10px;
    background-color: blue;
    border: none;
    border-radius: 6px;
    margin-left: 10px;
    margin-right: 20px;
    font-size: 15px;
    color: white;
    font-weight: 600;
}
.form-input{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 6px;
flex-direction: column;
    width: 90%;
    max-width: 500px;
    padding: 14px;
    margin: 20px auto;
    background-color: white;
    box-shadow: 5px 5px 5px 2px rgba(0, 0.1, 0.1, 0.1); 

}
.form-input h2{
    padding: 7px;
    font-size: 20px;
    padding-top: 20px;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;

}
.form-input h3{
    padding: 7px;
    font-weight: 100;
    font-size: 17px;
    padding-top: 20px;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;

}
.email-input{
    padding: 16px ;
    box-sizing: border-box;
    width: 100%;
    margin-top: 13px;
    border-radius: 6px;
    border: 1px solid gray;
    font-size: 16px;


}
.hr-two{
  
    margin-top: 20px;
    width: 100%;
    border: none; 
    border-top: 1px solid gray; 
   
}
.btn-container{
    display: flex;
    justify-content: flex-end;
    gap: 8px;
    margin-top: 10px;
    padding: 10px;
}
.btn-3{
    padding: 8px 20px;
    background-color: rgb(224, 217, 217);
    border: none;
    border-radius: 6px;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    font-size: 15px;
    font-weight: 600;


    
}
.btn-4{
    padding: 8px 20px;
    background-color: #1877f2;
    border: none;
    border-radius: 6px;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    font-size: 15px;
font-weight: 600;
color: white;


}
.navbar h1{
    font-family: Helvetica;
    font-size: 27px;
color: #1877f2;

}
.form-body {
    background-color: rgb(232, 239, 248); 
    height: 100vh; 
    display: flex; 
    align-items: center; 
}
